$title-color: #4267b2;
$background-color: #f0f0f0;
$hover-color: #365899;
$text-shadow: #c0c0c0;
$modal-background: rgba(0,0,0,0.1);
$menu-item-overlay: rgba(0,0,0,0.1);
$menu-item-overlay-button: rgba(0,0,0,0.3);
$menu-item-overlay-hover: rgba(0,0,0,0.4);
