$title-color: #4267b2;
$text-color: #484848;
$background-color: #f0f0f0;
$border-color: #e8e8e8;
$hover-color: #365899;
$text-shadow: #c0c0c0;
$modal-background: rgba(0,0,0,0.4);
$menu-item-overlay: #e9e9e9;
$menu-item-overlay-button: rgba(0,0,0,0.3);
$menu-item-overlay-hover: rgba(0,0,0,0.4);
