@mixin vertical-container {
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: top;
	float: left;
	height: 100%;
}

.column-side {
	@include vertical-container;
	width: 22em;
	position: relative;
}


.column-left {
	@extend .column-side;
	margin-left: -22em;
}

.column-right {
	@extend .column-side;
	margin-right: -22em;
}

.column-center {
	@include vertical-container;
	width: 100%;
	min-width: 18em;
}
