@import 'reset';
@import 'colors';

@import 'inputs/range';
@import 'inputs/button';
@import 'inputs/checkbox';
@import 'spinner';

html {
  body {
    background-color: $background-color;
    
    #container > div {
      color: $text-color;
      font-size: 100%;
      padding: 0 20em;
      min-width: 20em;
      overflow: hidden;
      transition-duration: 0.2s;
    }
  }
}
