@import 'reset';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700);

$lato: 'Lato', sans-serif;

html {
    body {
        background-color: $background-color;
        
        #container {
            font-family: $lato;
            color: #484848;
            font-size: 100%;
            padding: 0 20em;
            min-width: 20em;
            overflow: hidden;
        }
    }
}

.button {
    margin: 0.25em;
    font-family: $lato;
    font-weight: bold;
    color: $background-color;
    background-color: $title-color;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid;
    border-color: $title-color;
    border-radius: 2px;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: $hover-color;
}
