@import 'reset';
@import 'colors';

@import 'inputs/range';
@import 'inputs/button';
@import 'inputs/checkbox';

html {
    body {
        background-color: $background-color;
        
        #container {
            color: $text-color;
            font-size: 100%;
            padding: 0 20em;
            min-width: 20em;
            overflow: hidden;
        }
    }
}
