@import 'panel-measurements';
@import 'colors';

@mixin panel {
	background-color: white;
	box-shadow: 0 0.1em 0.2em #E0E0E0;
	box-sizing: border-box;
	border: 0.1em #E8E8E8 solid;
	overflow: auto;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1vh;
}

.current-order-panel {
	@include panel;
	height: $order-height;
	min-height: $order-min-height;
	margin-top: 1vh;
}

.pending-order-panel {
	@include panel;
	height: $order-height;
	min-height: $order-min-height;
}

.your-order-panel {
	@include panel;
	height: $your-order-height;
	min-height: 2.5em;
	max-width: 25em;
	margin: 0 auto;
}

.restaurant-panel {
	@include panel;
	margin-top: 1vh;
	height: $restaurant-height;
	min-height: 9.5em;
}

.credentials-panel {
	@include panel;
	height: $credentials-height;
	padding: 0.5em;

	.signed-in {
		font-size: 0.8em;
		text-align: center;
		font-weight: bold;
	}

	.email {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		font-weight: normal;
		font-style: italic;
		color: $title-color;
	}
}

.panel-header {
	font-weight: bold;
	margin: 0.4em;
	text-align: center;
}
