@import 'colors';

.title {
	height: 1.5em;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;

	span {
		vertical-align: middle;
		color: $title-color;
		text-shadow: 0 0.1em 0.2em $text-shadow;
	}
}
