@import 'colors';
@import './panels/panel-measurements';

.title {
    position: absolute;
    top: 0;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: $margin / 2.5;
    margin-bottom: auto;

    .heading {
        vertical-align: middle;
        color: $title-color;
        text-shadow: 0 0.05em 0.1em $text-shadow;
    }

    .subheading {
        margin-top: 0.2em;
        font-size: 0.35em;
        text-shadow: 0 0.1em 0.2em $text-shadow;
    }
}
