@import 'panel';

.active-order-panel {
    @include panel;
    flex: 1 0 auto;
    margin-top: $margin;
    height: 45%;
}

.active-order-box+.active-order-box {
    border-top: 1px solid $title-color;
}

.active-order-box {
    @include panelbox;
}
