@import 'panel';

.active-order-panel {
  @include panel;
  flex: 1 1 auto;
  margin-top: $margin;
  min-height: 15em;

  .scrollable {
    padding: 0 0.5em 0.5em;
    overflow: auto;

    .active-order-box+.active-order-box {
      border-top: 1px solid $title-color;
    }

    .active-order-box {
      @include panelbox;

      .order-type {
        font-weight: bold;
        font-style: italic;
      }

      .order-timer {
        font-weight: bold;
      }
    }
  }
}
