@import 'panel';

.credentials-panel {
	@include panel;
	height: $credentials-height;
	padding: 0.5em;

	.signed-in {
		font-size: 0.8em;
		text-align: center;
		font-weight: bold;
	}

	.email {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		font-weight: normal;
		font-style: italic;
		color: $title-color;
	}
}