@import 'panel';

.pending-order-panel {
    @include panel;
    flex: 1 1 auto;
    min-height: 15em;

    .scrollable {
        padding: 0 0.5em 0.5em;
        overflow: auto;

        .pending-order-box+.pending-order-box {
            border-top: 1px solid $title-color;
        }

        .pending-order-box {
            @include panelbox;

            .order-type {
                font-weight: bold;
                font-style: italic;
            }

            .time-elapsed {
                font-weight: bold;
            }
        }
    }
}
