@import '../colors';

.button {
    margin: 0.25em;
    font-weight: bold;
    color: $background-color;
    background-color: $title-color;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid;
    border-color: $title-color;
    border-radius: 2px;
    transition-duration: 0.2s;
    user-select: none;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $hover-color;
    }
}
