@import '~common/styles/panel';

.menu-panel {
  @include centerpanel;
  min-height: 15em;
  flex-grow: 1;
  margin-top: 6em;
  position: relative;

  .menu-header {
    padding: 0.4em;
    z-index: 4;
    box-shadow: 0px 2px 4px white;

    .menu-name {
      text-align: center;
      color: $title-color;
      font-weight: bold;
    }
  }

  .scrollable {
    font-size: 0.8em;
    padding: 0.5em 0.4em 0.5em;
    margin: 0 0.4em;
    overflow: auto;
  }

  .menu-section+.menu-section {
    margin-top: 0.5em;
  }

  .menu-section {

    .menu-section-name {
      font-size: 1.125em;
      font-weight: bold;
      text-align: center;
      padding: 0.2em;
    }

    .menu-item {
      padding: 0.6em;
      position: relative;
      transition-duration: 0.2s;
      cursor: default;
      display: flex;

      .menu-item-info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        transition-duration: 0.2s;

        .menu-item-name {
          font-weight: bold;
          color: $title-color;
          margin-bottom: 0.2em;
        }
      }

      .menu-item-action {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-left: 0.5em;

        .menu-item-price {
          flex: 0 0 auto;
          font-weight: bold;
          user-select: none;
          margin-bottom: auto;
        }
      }
    }

    .menu-item.order {
      &:hover {
        background-color: $menu-item-overlay;
        cursor: pointer;
      }

      .menu-item-click-label-container {
          flex: 1 0 auto;
          width: 100%;
          display: flex;
          visibility: hidden;
          opacity: 0;
          transition-duration: 0.2em;
          align-items: center;
          justify-content: center;

          .menu-item-click-label {
            flex: 0 1 auto;
            font-weight: bold;
            color: green;
          }
        }
    }

    .menu-item.order:hover .menu-item-click-label-container {
      visibility: visible;
      opacity: 1;
      transition-duration: 0.2s;
    }

    .menu-item+.menu-item {
      border-top: 1px solid $title-color;
    }
  }
}
